@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

#header #logo {
  float: left;
}

@media (min-width: 1024px) {
  #header #logo {
    padding-left: 60px;
  }
}

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
  padding-left: 10px;
  border-left: 4px solid #8fad4d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

/*carousel-item, .carousel-control-prev, .sr-only{color:red; background-color: red;}*/
.carousel-control-prev{


margin-top:15%;
width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 40px solid darkgrey;
	border-bottom: 20px solid transparent;}

 .carousel-control-next{

margin-top:15%;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 40px solid darkgrey;
	border-bottom: 20px solid transparent;}




.test {border:1px red solid;}

body{font-family: 'Montserrat', sans-serif;
}

.white_text{color: white;}
.c_blue_text{color: #47B4E6;}
.z_blue_text{color: #2362A9;}
.grey_text{color: #9E9D9E;}
.l_text_red {color: #F15C5A;}



.c_blue{background: #47B4E6;}
.l_red {background: #F15C5A;}
.m_blue{background: #9B51E0;}
.z_blue{background: #2362A9;}
.free_blue{background:#0064D4;}
.e_green{background:#1BB184 ;}
.c_yellow{background: #FEC243 ;}
.p_pink{background:#F05771 ;}

.sky_blue{background: #DAF1FC;}
.z_dark{background: #35363B;}
.z_white{background: #ffffff;}
.m_dark{background: #2E2F34;}
.bg-light {background: #F8F8F9;}
.bg-water{background: #194D8C;
color: white;}
.bg-water1{background: #144275;
color:white;}
.green_btn{background:#71D875 ;
height: 55px;}


.z_sign_in, .black_text{color: black; }
.z_sign_in:hover{color: #2362A9;}


a {color: white;}
a:hover{ color: #2E2F34;
text-decoration: none;}
.underline{text-decoration: underline;}

.lockbox_nav a:hover{ color:#F15C5A;
 }
.connect_nav a:hover{ color:#47B4E6;
 }

h1{font-family: 'Montserrat', sans-serif;
font-style: bold;
font-weight: 500;
line-height: normal;
font-size: 45px;
text-align: left;
color: black;}

h2 {font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 30px;
color: #000000;
	padding-bottom:5px;
}
h3 {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
line-height: 34px;
font-size: 24px;

color: #000000;}

h4{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
line-height: 27px;
font-size: 25px;
padding-top:20px;}

h5{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
line-height: 30px;
font-size: 12px;}

h6 {font-family: 'Montserrat', sans-serif;
font-style:normal;
font-weight: 400;
line-height: 35px;
font-size: 22px;
text-align: left;
}


p {font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 300;
line-height: 30px;
font-size: 20px;
text-align: left;
}

.button{border-radius: 3px;
padding: 14px 50px;
margin-top: 20px;}
.button:hover, .btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.btn{border-radius:3px;
padding:15px 70px;
font-size: 16px;
}

span{display: none;}


.zebu header{padding:60px;}

section
{padding: 100px 0;}

.card{ padding: 40px;}


	.line{border-top: 1px #E6E7E8 solid;
padding: 20px 0 30px 0px;}



/* Navigation*/

.navbar-dark{ color:white;}

.navbar{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
line-height: normal;
font-size: 14px;
color: #FFFFFF;
text-align: center;
}
.navbar-light{	box-shadow: 1px 1px 5px #BCBEC0;}

.navbar li{padding-left:30px;}

.nav2{padding-top:60px;}

.dropdown-item:hover{background: #E6E7E8	;}


.navbar-toggler-icon{   
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

/* zebu MAIN*/
.products_hero{ background: url('../img/products_hero.png') no-repeat center ;
    position: relative;
    min-height: 400px;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;}

.z_stream{position: absolute;
top:50px;
right:200px;
}


.about_hero{ background: url('../img/about_hero.png') no-repeat center ;
    position: relative;
    min-height: 400px;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;}


.careers_hero{ background: url('../img/careers_hero.png') no-repeat center ;
    position: relative;
    min-height: 400px;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;}

.events_hero{ background: url('../img/events_hero.png') no-repeat center ;
   position: relative;
    min-height: 400px;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 100%;}


.posting{border:1px #d1d3d4 solid;
	padding:10px 0 0 20px;
	border-radius: 4px;
	margin-top:10px;}
.posting a{color:#2362A9;}
.posting a:hover{color:black;}


/* Download Zebu (CONNECT)*/

.download_c{ background: url('../img/download_c.png') no-repeat center ;
    position: relative;
    min-height: 1000px;
    background-size: cover;
	background-color: #BCBEC0;
    color: #fff;
    width: 100%;
    height: 100%;
padding-top: 150px;}


.space {position: absolute;
	left:0px;
	margin-top: 0;
}



/* Connect  */
.connect h2, .connect h1,  .connect h4 {color: #47B4E6;
}

.connect_hero{ background: url('../img/connect_hero.png') no-repeat center ;
    position: relative;
    min-height: 400px;
    background-size: cover;
    color: #fff;
    width: 100%;
    height: 900px;}


 .navbar-white {color: #000000 !important;}

.hot_air{position: absolute;
right:0px;}

 .head{ padding-top: 150px;}


.cloud{ background: url('../img/cloud.png') no-repeat center ;
	background-color:  #DAF1FC;
    position: relative;
    min-height: 420px;
    background-size: cover;
    width: 100%;
    height: auto;}
.cloud_{ background: url('../img/cloud2.png') no-repeat center ;
		background-color:  #DAF1FC;
    position: relative;
    min-height: 300px;
	 width: 100%;
    height: auto;
    background-size:auto; }



.ellipse{ background: url('../img/ellipse.png') no-repeat center ;
		background-color:  #47B4E6;
	    min-height: 246px;

    position: relative;
	 width: 100%;
    height: auto;
    background-size:auto; 
}

.wave{ background: url('../img/wave.png') no-repeat center ;
    position: relative;
    min-height: 370px;
	 width: 100%;
    height: auto;
    background-size:auto; }

.wave_g{ background: url('../img/wave_g.png') no-repeat center ;
    position: relative;
    min-height: 370px;
	 width: 100%;
    height: auto;
    background-size:auto; }

.tree{position: absolute; right: 0; top:3980px; z-index: 10}


.tree1{position: absolute; left: 0px}

.sahara {background: url('../img/sahara.png')no-repeat center #DAF1FC;;
  position: relative;
    width:100%;
		height:645px;
	padding: 0;
	margin: 0;
    }

/*.pulseit{
	-webkit-animation: pulse linear .9s infinite;
	animation: pulse linear .9s infinite;
}
@-webkit-keyframes pulse {
	0% { width:200px; } 
	50% { width:205px; } 
	100% { width:200px; }
}
@keyframes pulse {
	0% { width:200px; } 
	50% { width:205px; } 
	100% { width:200px; }
}

.pulseit {
 
  animation: 
  
    nudge 8s linear infinite ;
	
}

.pulseit2 {
 
  animation: 
 
    nudge 9s  linear infinite ;
}



@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  

}

*/

 .pulse {
            -webkit-animation-name: pulse;
            animation: pulse 9s infinite;
         }

@keyframes pulse {
   0% { transform: scale(1); }
   50% { transform: scale(1.1);  }
   100% { transform: scale(1); } 
} 
 .pulse1 {
            -webkit-animation-name: pulse;
            animation: pulse 7s infinite;
         }

@keyframes pulse {
   0% { transform: scale(1); }
   50% { transform: scale(1.1); }
   100% { transform: scale(1); } 
} 


       
         
        
.left{position: absolute;
	left:0px;
z-index: 100}
.right{position: absolute;
	right:10px}

/* Pricing */




.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;	
height: 610px;
	/*height: 970px;*/
	
}
.pp_1{border: 1px #0064D4 solid;}
.pp_2{border: 1px #1BB184 solid;}
.pp_3{border: 1px #FEC243 solid;}
.pp_4{border: 1px #F05771 solid;}

.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 10px 0px;
	font-size: 45px;
}

.panel-pricing .panel-heading h3{
	font-size: 35px;
}

.panel-pricing .panel-heading h2{ color: black;
font-size: 75px;
line-height: 21px;}
.panel-pricing .panel-heading h4{color: black;
line-height: 30px; font-size: 23px;}
.panel-pricing .panel-heading h5{color: black;
line-height: 0px;}

price{font-size: 30px;
padding-right: 5px;}

.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}


.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

.fa-check{color: #1BB184;}

.list-group-item{border: none;
font-size: 16px;
    text-indent: -10px;
	padding: 7px 5px 7px 50px;
color: #1E1E1E;}

.panel-footer{margin-bottom: 10px;}

  



/* Footer*/
footer{padding: 40px 0 20px 0;
}

footer li{list-style: none;
padding:10px;}

footer p { font-size: 16px;}
footer a:hover{color: #2362A9}
.give_space
{padding:0 30px;}
 
.copyright{padding: 40px 0  10px }


.footer-logo{padding-bottom:20px;}
.social_media span {
	display: none
}


.facebook {
	background: url("../img/facebook.png") no-repeat;
	width: 41px;
	height: 41px;
	display: block;
}
.instagram {
	background: url("../img/instagram.png") no-repeat;
		width: 41px;
	height: 41px;
	display: block;
}
.twitter {
	background: url("../img/twitter.png") no-repeat;
		width: 41px;
	height: 41px;
	display: block;
}
.linkedin {
	background: url("../img/linkedin.png") no-repeat;
		width: 41px;
	height: 41px;
	display: block;
}
.facebook:hover {
	background: url("../img/facebook_hover.png") no-repeat;
	width: 41px;
	height: 41px;
	display: block;
}
.twitter:hover {
	background: url("../img/twitter_hover.png") no-repeat;
	width: 41px;
	height: 41px;
	display: block;
}
.linkedin:hover {
	background: url("../img/linkedin_hover.png") no-repeat;
	width: 41px;
	height: 41px;
	display: block;
}

.instagram:hover {
	background: url("../img/instagram_hover.png") no-repeat;
	width: 41px;
	height: 41px;
	display: block;
}


/* media Queries

Lockbox*/

@media only screen and (max-width: 900px) {
    .turtle, .files, .map, .z_stream , .treasure, .z_moon, .jelly, .tree, .tree1, .hot_air, .balloon_animal, .integrations, .parachuter, .mobile_none {
        display: none;
    }
	
	   #join .btn {
		   padding: 20px 0;
		   width: 100%;
    }
	.integrations_mobile { background: url('../img/int_mobile.png') no-repeat center ; 
	width: 363px;
    height: 321px;
	padding-top: 20px;
 
	}
		.allscreen{ 
    width: 100%;
    height: 100%;
	}
		 
}

@media screen and (max-width:600px)
{img.responsive {width: 100%;}
	
		.panel-pricing {
	height: auto;
	
}


.products_hero { background: url('../img/products_mobile_hero.png') no-repeat center ;
    position: relative;
    min-height: 800px;
    color: #fff;
    width: 100%;
    height: 100%;
	}
	
	.about_hero { background: url('../img/about_mobile_hero.png') no-repeat center ;
    position: relative;
    min-height: 600px;
    color: #fff;
    width: 100%;
    height: 100%;
	}
	
	.careers_hero { background: url('../img/careers_mobile_hero.png') no-repeat center ;
    position: relative;
    min-height: 500px;
    color: #fff;
    width: 100%;
    height: 100%;
	}
	
	.lockbox_hero{ background: url('../lockbox/img/lockbox_mobile_hero.png') no-repeat center ;
    position: relative;
    min-height: 1200px;
    background-size: cover;
    width: 100%;
    height: 100%;}
	
	.connect_hero{ background: url('../img/connect_hero_mobile.png') no-repeat center ;
	min-height: 1000px;
    background-size:contain;
    width:100%;
    height: 100%;
		
   }
	
	h1{ font-size: 35px;}
	
	.foot_nav{display: none;}
	
	section {padding: 30px 0;}
	
	.connect_screen{ background: url('../img/screen_mobile.png') no-repeat center ;
    width: 100%;
    height: 100%;
	}
	
	
	
	
}



img.responsive{height: auto;
}



.form-control {
	height: 56px;
}




